@layer reset, base, tokens, recipes, utilities;
@import "@serendie/ui/styles.css";
/* @import 'mirotone/dist/styles.css'; */
@import "@serendie/design-token/tokens.css";

h1 {
  font-size: var(--sd-reference-typography-scale-compact-fiveExtraLarge);
  /* font: var(--sd-system-typography-headline-large_compact); */
  color: var(--sd-system-color-impression-primary);
}

h2 {
  font-size: var(--sd-reference-typography-scale-compact-fourExtraLarge);
  /* font: var(--sd-system-typography-headline-medium_compact); */
  color: var(--sd-system-color-impression-primary);
}

h3 {
  font-size: var(--sd-reference-typography-scale-compact-threeExtraLarge);
  /* font: var(--sd-system-typography-headline-small_compact); */
  color: var(--sd-system-color-impression-primary);
}

h4 {
  font-size: var(--sd-reference-typography-scale-compact-twoExtraLarge);
  /* font: var(--sd-system-typography-title-large_compact); */
  color: var(--sd-system-color-impression-primary);
}

h5 {
  font-size: var(--sd-reference-typography-scale-compact-extraLarge);
  /* font: var(--sd-system-typography-title-medium_compact); */
  color: var(--sd-system-color-impression-primary);
}

h6 {
  font-size: var(--sd-reference-typography-scale-compact-large);
  /* font: var(--sd-system-typography-title-small_compact); */
  color: var(--sd-system-color-impression-primary);
}

p {
  font-size: var(--sd-reference-typography-scale-compact-medium);
  /* font: var(--sd-system-typography-body-medium_compact); */
  color: var(--sd-system-color-impression-onSecondary);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family:
    Roboto,
    "Noto Sans JP",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

body {
  display: flex;
  font-family:
    Roboto,
    "Noto Sans JP",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

#root {
  width: 100%;
  overflow: auto;
  padding: var(--space-medium);
}

img {
  max-width: 100%;
  height: auto;
}
